@import 'variables';
@import 'mixin';

.app {
  background-color: $bgcFirst;
  min-height: 100vh;
  position: relative;
  z-index: 1;
  width: 100%;
  color: white;
  font-size: 20px;
  @include flex(column, flex-start, center);
}

.app_logo {
  height: 6vmin;
}

.app_logo * {
  fill: white;
}

@media (prefers-reduced-motion: no-preference) {
  .app_logo {
    animation: app_logo_spin infinite 10s linear;
  }
}

.header {
  @include flex(row, center, center);
  min-height: 8vh;
  width: 96%;
}

@keyframes app_logo_spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.body {
  @include flex(column, space-evenly, center);
  width: 96%;
}

.blocksContainer {
  @include flex(row, space-evenly, flex-start);
  width: 100%;
  flex-wrap: wrap;
}

.footer {
  @include flex(row, center, center);
  height: 12vh;
  width: 96%;
}

.getHireLink {
  @include flex(column, center, center);
  width: 80%;
  color: $fontColor;
  text-decoration: none;
  transition-duration: 1s;
  transition-property: all;
  &:hover {
    transform: scale(1.05);
  }
  &:hover .getHireContainer {
    border-radius: 50px;
    background-color: $accentColor;
  }
}

.getHireContainer {
  @include flex(row, space-between, center);
  border-radius: 5px;
  width: 300px;
  overflow: hidden;
  transition-duration: 0.6s;
  transition-property: all;
  border: 1px solid $accentColor;
}

.getHireTitle {
  font-size: 20px;
  transition-duration: 1s;
  transition-property: all;
  white-space: nowrap;
  animation: marquee 3s infinite linear;
  overflow: hidden;
  width: 100%;
  @keyframes marquee {
    0% {
      transform: translateX(100%)
    }
    100% {
      transform: translateX(-100%)
    }
  }
}

.getHireIcon {
  width: 60px;
  height: 60px;
  padding: 10px;
  border-radius: 5px;
  margin-left: auto;
  background-color: $accentColor;
  z-index: 1;
}

@media screen and (max-width: 1200px) {
  .app_logo {
    height: 80px;
  }
}

@media screen and (max-width: 900px) {
  .getHireIcon {
    width: 50px;
    height: 50px;
  }
}

@media screen and (max-width: 700px) {
  .app_logo {
    height: 70px;
  }
  .footer {
    height: 20vh;
  }
  .app {
    font-size: 18px;
  }
}

@media screen and (max-width: 500px) {
  .app_logo {
    height: 60px;
  }
}

@media screen and (max-width: 330px) {
  .getHireIcon {
    width: 44px;
    height: 44px;
  }
  .getHireContainer {
    width: 250px;
  }
}

@media screen and (max-width: 300px) {
  .app {
    font-size: 16px;
  }
}

@media screen and (max-width: 270px) {
  .footer {
    display: none;
  }
}

/* Для WebKit-браузеров (например, Safari и Chrome) */
::-webkit-scrollbar {
  width: 10px; /* Ширина скролла */
}

::-webkit-scrollbar-track {
  background-color: $bgcSecond; /* Цвет фона трека скролла */
}

::-webkit-scrollbar-thumb {
  background-color: $accentColor; /* Цвет ползунка скролла */
}

/* Для Firefox */
* {
  scrollbar-width: thin; /* Толщина скролла */
  scrollbar-color: $accentColor $bgcSecond; /* Цвет ползунка и трека скролла */
}