@import 'variables';
@import 'mixin';

.inputContainer {
  @include flex(column, space-evenly, center);
  background-color: $bgcSecond;
  width: 96vw;
  gap: 20px;
}

.inputContainer h1 {
  color: white;
  font-size: 32px;
  margin-top: 40px;
}

.inputSection {
  @include flex(column, space-evenly, center);
  width: 100%;
  gap: 30px;
  transition-property: all;
  transition-duration: 0.5s;
}

.inputBox {
  display: flex;
  position: relative;
  width: 50%;
}

.inputData {
  width: 100%;
  padding: 13px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  background: $bgcSecond;
  outline: none;
  color: white;
  font-size: 20px;
  transition: 0.5s;
}

.inputBox span {
  position: absolute;
  left: 0;
  padding: 10px;
  pointer-events: none;
  font-size: 24px;
  color: white;
  transition: 0.5s;
}

.inputBox .inputData:valid ~ span,
.inputBox .inputData:focus ~ span {
  color: white;
  transform: translate(10px) translateY(-11px);
  font-size: 16px;
  padding: 0 10px;
  background: $accentColor;
  letter-spacing: 2px;
  border-radius: 3px;
}

.inputBox .inputData:valid,
.inputBox .inputData:focus {
  border: 1px solid $accentColor;
}

.countClick {
  margin-top: 20px;
  border: none;
  outline: none;
  position: relative;
  padding: 20px 50px;
  display: block;
  text-decoration: none;
  width: 200px;
  overflow: hidden;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  @keyframes animate {
    0% {
      transform: translate(-50%, -75%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -75%) rotate(360deg);
    }
  }
}

.countClick:hover {
  box-shadow: $accentColor 0 25px 40px, rgba(0, 0, 0, 0.22) 0 20px 12px;
}

.countClick:active {
  box-shadow: none;
}

.countClick span {
  position: relative;
  z-index: 1;
  color: white;
  font-size: 24px;
  letter-spacing: 1px;
}

.countClick .liquid {
  position: absolute;
  left: 0;
  top: -80px;
  width: 200px;
  height: 200px;
  background: $accentColor;
  transition: 0.5s;
}

.countClick:hover .liquid {
  top: -120px;
}

.countClick .liquid:before,
.countClick .liquid:after {
  content: '';
  position: absolute;
  width: 200%;
  height: 200%;
  top: 0;
  left: 50%;
  transform: translate(-50%, -75%);
}

.countClick:active {
  transform: scale(0.94);
}

.liquid:before {
  border-radius: 45%;
  background: $bgcSecond;
  animation: animate 5s linear infinite;
}

.liquid:after {
  border-radius: 40%;
  background: rgba(28, 28, 28, 0.5);
  animation: animate 10s linear infinite;
}

.error {
  width: 100%;
  height: 30px;
  color: firebrick;
  animation: error 3s forwards;
  @keyframes error {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 100;
    }
    100% {
      opacity: 0;
    }
  }
}

.infoBlock {
  @include flex(row, center, center);
  margin-bottom: 90px;
}

.success {
  font-size: 18px;
  color: white;
  width: 100%;
  height: 30px;
  animation: error 2.5s forwards;
  @keyframes error {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 100;
    }
    100% {
      opacity: 0;
    }
  }
}

@media screen and (max-width: 2800px) {
  .inputBox {
    width: 70%;
  }
}

@media screen and (max-width: 1200px) {
  .inputContainer h1 {
    font-size: 28px;
  }
  .inputBox span {
    font-size: 20px;
  }
}

@media screen and (max-width: 700px) {
  .countClick{
    height: 60px;
    width: 190px;
  }
  .inputContainer h1 {
    font-size: 24px;
  }
  .inputBox span {
    font-size: 20px;
  }
  .countClick span {
    font-size: 20px;
  }
}

@media screen and (max-width: 500px) {
  .inputContainer h1 {
    font-size: 20px;
  }
  .inputBox .inputData:valid ~ span,
  .inputBox .inputData:focus ~ span {
    font-size: 14px;
  }
}

@media screen and (max-width: 400px) {
  .countClick{
    height: 56px;
    width: 170px;
  }
  .inputBox span {
    margin-top: 3px;
    font-size: 18px;
  }
}

@media screen and (max-width: 315px) {
  .inputContainer h1 {
    font-size: 16px;
  }
  .inputBox span {
    margin-top: 6px;
    font-size: 16px;
  }
}

@media screen and (max-width: 300px) {
  .inputBox .inputData:valid ~ span,
  .inputBox .inputData:focus ~ span {
    font-size: 12px;
  }
}

